a {
    display: block;
}

.lnk{
    cursor:pointer;
}

#wrapper {
    margin: 0 auto;
    padding: 0px 20px;
    overflow: auto;
}

.workbench {
    border: 1px solid #0072C6;
    min-height: 250px;
    width: 60%;
    margin: 5px;
    padding: 15px 20px;
    float: right;
}

.demoMenu {
    border: 1px solid #0072C6;
    background-color: #F2F2F2;
    min-height: 250px;
    width: 20%;
    float: left;
    margin: 5px;
    padding: 15px;
}

#status {
    min-height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #0072C6;
    color: white;
}

#sampleHeading {
    min-height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #0072C6;
    color: white;
}

hr {
    padding: 15px 0;
}