$darkBackground: #797474;
$mediumBackground: #ADA0A0;

@mixin mouse {
    cursor: pointer;
}

@mixin big-font {
    font-size: 18px;
}

mainDiv {
    background-color: $darkBackground;
    @include big-font;

    &:hover {
        background-color: $mediumBackground;
        @include mouse;
    }
}