<div class="popupHeader modal-header">
    <h4 class="modal-title" id="contactHeader">
        <label id="projektTitel" class="lblXXL" style="color: white"></label>
        <button type="button" class="pull-right btn btn-primary btn-xs" data-dismiss="modal" ng-click="closeModal()">Close</button>
    </h4>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{popupItem.Title}}
            </div>
        </div>       
    </div>
  
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" ng-click="closeModal()">Close</button>
</div>