.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;    
}

a:hover {
    text-decoration: underline;
}

.header{
    padding-top: 20px;
    padding-left: 10px;
}

.workbench {
    border: 1px solid #0072C6;
    min-height: 250px;
    padding: 15px 20px;
}

.demoMenu {
    border: 1px solid #0072C6;
    background-color: #F2F2F2;
    min-height: 250px;
    padding: 15px;
}

#status {
    min-height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #0072C6;
    color: white;
}

#sampleHeading {
    min-height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #0072C6;
    color: white;
}

hr {
    padding: 15px 0;
}