
<div>
    <a href="javascript:firstObject()">First Object</a>
    <a href="javascript:objectInitializer()">Object Initializer</a>
    <a href="javascript:safelyCreate()">Create Objects</a>
    <a href="javascript:constructorFunction()">Constructor Function</a>
    <a href="javascript:thisInObjects()">Using this in objects</a>
    <a href="javascript:objectWithMethod()">Methods Basics</a>
    <a href="javascript:prototypeBasics()">Prototype Basics</a>
    <a href="javascript:inheritance()">Inheritance using Prototype</a>
    <a href="javascript:methodOverriding()">Method overriding</a>
</div>
