<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>D:\ProviderWeb</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>73beabea-1edc-4def-aec1-a025d6eac822</DefaultValue>
      <Value>73beabea-1edc-4def-aec1-a025d6eac822</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePath">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
      <Description>Value for ClientSigningCertificatePath here.</Description>
      <DefaultValue>D:\O365ClientSideDev\07 Add-Ins\SPSignCert.pfx</DefaultValue>
      <Value>D:\O365ClientSideDev\07 Add-Ins\SPSignCert.pfx</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
      <Description>Value for ClientSigningCertificatePassword here.</Description>
      <DefaultValue>Pa$$w0rd</DefaultValue>
      <Value>Pa$$w0rd</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="IssuerId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
      <Description>Value for IssuerId here.</Description>
      <DefaultValue>3299322b-d0f6-4a60-96a9-c713e18e385d</DefaultValue>
      <Value>3299322b-d0f6-4a60-96a9-c713e18e385d</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>