$darkBackground: #797474;
$mediumBackground: #ada0a0;
$panelCol: lavender;

@mixin mouse {
  cursor: pointer;
}

@mixin big-font {
  font-size: 18px;
}

mainDiv {
  background-color: $darkBackground;
  @include big-font;

  &:hover {
    background-color: $mediumBackground;
    @include mouse;
  }
}

.demoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.demoMenu {
  min-width: 190px;
  flex: 1;
  flex-grow: 1;
  background-color: $panelCol;
  padding: 10px
}

.demoWorkbench {
    min-width: 400px;
    flex: 4;
    flex-grow: 4;
    background-color: $panelCol;
    padding: 10px
}

.spacer {
  flex: 1 1 auto;
}

.workbench {
  min-height: 300px;
}
