<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://integrationsonline.sharepoint.com/sites/spdevtest"/>
    <add key="ClientId" value="54fd2d57-ce44-444c-9f2f-112860808092" />
    <add key="ClientSecret" value="kbaHgift8LJ0KfairgEyCV84j6qrYI8c78WI4B6uTF0=" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>