<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="da1ecd59-0708-4c53-9946-d40ac170f045" />
    <add key="ClientSecret" value="2gssfPlDITpky8TR/BZ0eG9P6rSEKXf5FmBVIkoUW9s=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <runtime>
    <a:assemblyBinding xmlns:a="urn:schemas-microsoft-com:asm.v1">
      <!--Binding redirect for SharePoint Client Components assemblies-->
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.Office.Client.Policy" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.Office.Client.TranslationServices" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.DocumentManagement" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.Publishing" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.Search" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.Search.Applications" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.Taxonomy" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.UserProfiles" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
      <a:dependentAssembly>
        <a:assemblyIdentity name="Microsoft.SharePoint.Client.WorkflowServices" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <a:bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </a:dependentAssembly>
    </a:assemblyBinding>
  </runtime>
</configuration>