.TasksBar {
	.cell {
		background-color: "[theme:themePrimary, default:#e5e5e5]";
		display: 'inline-block';
	}
}

.low {
	color: 'darkolivegreen';
}
.normal {
	color: rgb(255, 106, 0);
}
.high {
	color: #f00;
	background-color: lawngreen;
}
